@import url("variable.css");

body {
  font-family: var(--font-stack-body);
  text-align: center;
}

body h2 {
  padding-top: 5rem;
  font-family: var(--font-stack-heading);
}

.cart {
  padding-top: 4rem;
  background-color: var(--white);
  color: var(--tertiary-color);
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart .cart-container {
  margin: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.cart .cart-container .cart-items {
  display: flex;
  align-items: center;
  background-color: var(--white);
  padding: 1rem;
  border-radius: 0.4rem;
  box-shadow: var(--box-shadow);
}

.cart .cart-container .cart-items img {
  width: 10rem;
  height: auto;
  margin-right: 1rem;
}

.cart .cart-container .cart-items .cart-item-details {
  flex-grow: 1;
}

.cart .cart-container .cart-items .cart-item-details .cart-item-title {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.cart .cart-container .cart-items .cart-item-details .cart-item-price {
  font-size: 1rem;
  color: var(--primary-color);
}

.cart .cart-summary {
  margin-top: 2rem;
  background-color: var(--white);
  padding: 2rem;
  border-radius: 0.4rem;
  box-shadow: var(--box-shadow);
}

.cart .cart-summary .cart-subtotal {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

button {
  display: flex;
  background-color: var(--tertiary-color);
  color: var(--white);
  padding: 8px 32px 8px 32px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: var(--primary-color);
  color: var(--white);
}