@import url(../variable.css);

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Login & Register */

.form {
  background-color: var(--white);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid var(--grey);
  border-radius: 4px;
}

button {
  background-color: var(--secondary-color);
  color: var(--white);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.register-link,
.login-link {
  margin-top: 1rem;
  font-size: 14px;
}

.register-link a,
.login-link a {
  color: var(--secondary-color);
  text-decoration: none;
}

.register-link a:hover,
.login-link a:hover {
  text-decoration: underline;
}

main {
  padding: 4rem 2rem 2rem 2rem;
}

/* Profile */

.profile {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.profile-avatar img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1rem;
}

.profile-info h1 {
  font-family: var(--font-stack-heading);
  margin-bottom: 1rem;
}

.transaction-history {
  margin-bottom: 2.5rem;
}

.transaction-history h2 {
  font-family: var(--font-stack-heading);
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  padding: 0.5rem;
  border: 1px solid var(--grey);
}

table th {
  background-color: var(--tertiary-color);
  color: var(--white);
  font-weight: bold;
  text-align: left;
}

table td {
  text-align: center;
}